/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */

:root {
  --color-dark-navy: #36384d;
  --color-white: #fff;
  --color-primary: #ff6155;
  --color-primary-15: rgba(255, 96, 85, 0.15);
  --color-grey-25: #c5c5ca;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", serif;
  height: 100vh;
}

/* Typography */

h1,
h2 {
  color: var(--color-dark-navy);
  font-size: 4rem;
  margin-bottom: 2.4rem;
}

.paragraph {
  color: var(--color-dark-navy);
  font-size: 1.6rem;
  line-height: 150%;
  margin-bottom: 2.4rem;
}

.paragraph span {
  font-weight: bold;
}

/* Sign Up */

.signup__img {
  margin-bottom: 4rem;
}

.signup__img img {
  width: 100%;
}

.signup__text {
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 2.4rem;
}

.signup__list {
  list-style: none;
  margin-bottom: 4rem;
}

.signup__item {
  color: var(--color-dark-navy);
  font-size: 1.6rem;
  line-height: 150%;
  display: flex;
  align-items: flex-start;
}

.signup__item img {
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 1.6rem;
  display: block;
}

.signup__item:not(:last-child) {
  margin-bottom: 1rem;
}

.signup__label {
  color: var(--color-dark-navy);
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  display: block;
}

.signup__group {
  display: flex;
  justify-content: space-between;
}

.signup__error {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.2rem;
  display: none;
}

.error.signup__error {
  display: block;
}

.signup__input {
  color: var(--color-dark-navy);
  font-size: 1.6rem;
  font-family: inherit;
  border: 1px solid var(--color-grey-25);
  border-radius: 8px;
  padding: 1.6rem 2.4rem;
  width: 100%;
  margin-bottom: 2.4rem;
  cursor: pointer;
}

.error.signup__input {
  color: var(--color-primary);
  background-color: var(--color-primary-15);
  border-color: var(--color-primary);
}

.button {
  color: var(--color-white);
  background-color: var(--color-dark-navy);
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 1.6rem;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#ff6a3a, #ff527b);
  box-shadow: 0px 5px 26px rgba(255, 96, 85, 0.5);
  border: none;
}

/* Popup */

.popup__container {
  padding: 2.4rem;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.popup__text {
  margin-top: 15rem;
}

.popup__icon {
  width: 6.4rem;
  height: 6.4rem;
  margin-bottom: 4rem;
}

@media (min-width: 1000px) {
  body {
    background-color: var(--color-dark-navy);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .signup {
    background-color: var(--color-white);
    width: 928px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 2.4rem 2.4rem 6.4rem;
    border-radius: 36px;
  }

  .signup__img {
    order: 2;
  }

  .signup__text {
    flex-basis: 50%;
  }

  .signup__img {
    flex-basis: 45%;
  }

  /* Popup */

  .popup__container {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }

  .popup {
    flex-direction: column;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    justify-content: space-between;
    background-color: var(--color-white);
    margin-top: 0;
    width: 50rem;
    height: 52rem;
    border-radius: 36px;
  }

  .popup__text {
    margin-top: 0rem;
  }

  .popup__icon {
    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: 4rem;
  }
}
